{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h2>{{ topic }}</h2>
{% endblock page_header %}

{% block content %}

    <p><a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a></p>

        {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ entry.date_added|date:'d M Y H:i' }}
                <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></small>
            </h4>
            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
            {% empty %}
                Not added entry yet.
            {% endfor %}

    <div class="d-grid mb-3 ml-3 mt-3">
        <a class="btn btn-primary btn-sm" data-bs-toggle="button" role="button" href="{% url 'learning_logs:topics' %}">Back</a>
    </div>
{% endblock content %}
