{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}

    <ul>
        {% for topic in topics %}
            <li><h3>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3></li>
        {% empty %}
            <h3><li>Not add topic yet</li></h3>
        {% endfor %}
    </ul>

    <div class="d-grid mb-3 ml-3">
        <a class="btn btn-primary btn-lg" data-bs-toggle="button" role="button" href="{% url 'learning_logs:new_topic' %}">Add new topic</a>
    </div>

{% endblock content %}